<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <mage.Properties.Settings>
            <setting name="viewBG0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewBG1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewBG2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewBG3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewSprites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewSpriteOutlines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewDoors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewScrolls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewScreenOutlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hexadecimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tooltips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="viewClipCollision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewClipBreakable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="viewClipValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emulatorPath" serializeAs="String">
                <value/>
            </setting>
        </mage.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
